*{margin:0; padding: 0;}

/****************index.php CSS****************/

  #m-community-container{
    background-color: #f4f4f4;
  }

  #s-community-container{
    width:80%;
    height: 900px;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border : 1px solid #bcbcbc;
    background-color: white;
  }


  #s-community-container_view{
    width:75%;
    height: 520px;
    margin: 0px auto;
    margin-top: 5px;
    padding: 20px;
    border : 1px solid #bcbcbc;
    background-color: white;
  }

  div>#comments{
    margin-top:5px;
    background-color: white;
    border : 1px solid #bcbcbc;
  }
  
  div>#commentText{
    margin-top:5px;
  }

  div>#commentWrite{
    height:80px;
    font-weight: bold;
  
  }
  
  div>.commentBoxfirst{
    background-color:#fcf7f5;
    border-top : 1px solid #bbbbbb;
    border-left : 1px solid #bbbbbb;
    border-right : 1px solid #bbbbbb;
    box-shadow: 0 4px 0.5px -3px gray;
  }
  div>.commentBoxsecound{
    background-color: white;
    border : 1px solid #bcbcbc;
   
  }